extends device

block devicetitle
  .device-icon(style="background-image: url('/images/AMP-icon.png');")
  .device-name(style="margin-left: 5px;") #{device.name}
  .device-reading 
    .div #{device.lastreadingdata.split(':')[0]} A - #{Number(device.lastreadingdata.split(':')[0]) * 230} W
    .div(style="font-size: 11px;") #{device.lastreading}

block scriptdata
  script(type="text/javascript").
    var data = JSON.parse('#{JSON.stringify(data)}'.replace(/&quot;/g, '"'));
    var readings =  [['Time', 'KiloWatts Hours']];
    for(var i = 0; i < data.length; i++) {
      var date = new Date(data[i].receivedtime);
      readings.push([date, Number(data[i].data)]);
    }

    if(getParameterByName('timescale') == 'hour') {

      var options = {
          legend: 'none',
          colors: ['#00aaff'],
          chartArea: {left: 50, top: 15, 'width': '90%', 'height': '88%'},
          hAxis: { 
            format: format,
            gridlines: { count: hAxisCount, color:"#ccc" },
            viewWindow: {
                    min: startDate,
                    max: endDate
            }
          },
          vAxis: { 
            gridlines: { count: 3, color:"#ccc" },
            viewWindow: {
                    min: 0,
                    max: 10
            },
            format: '# kW' 
          }
      };

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(readings);
        var chart = new google.visualization.LineChart(document.getElementById('chart'));
        chart.draw(data, options);
      }

    } else {

      var options = {
          legend: 'none',
          colors: ['#00aaff'],
          chartArea: {left: 50, top: 15, 'width': '90%', 'height': '88%'},
          hAxis: { 
            format: format,
            gridlines: { count: hAxisCount, color:"#ccc" },
            viewWindow: {
                    min: startDate,
                    max: endDate
            }
          },
          vAxis: { 
            gridlines: { count: 5, color:"#ccc" },
            viewWindow: {
                    min: 0,
                    max: 20
            },
            format: '# kWh' 
          }
      };

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(readings);
        var chart = new google.visualization.ColumnChart(document.getElementById('chart'));
        chart.draw(data, options);
      }

    }
