extends layout

block content
  link(rel="stylesheet" href="/stylesheets/home.css")

  .devices
    .devices-title My Devices

    .devices-inner
      each device, index in devices
        - var i = 0;
        - var n = 1;
        while i < n
          - i++

          .device-holder
            a.device(href="/device?id=#{device.id}")
              .device-icon(style="background-image: url('/images/device/#{device.type}.png');")
              .device-name #{device.name}

              if device.type == "AMP"
                .device-type Power Monitor
                .device-reading #{Math.round(device.lastreadingdata.split(':')[0]*10)/10}kW
              else if device.type == "WTRHTR"
                .device-type Water Heater
                .device-reading #{Math.round(device.lastreadingdata.split(':')[0]*10)/10}°C

            .device-settings

    .add-device-holder
      .add-device Add Device

  .other

  script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js").
  script.

  each device, index in devices

    script.
      











